version: 2
updates:
  - package-ecosystem: "gomod"
    directories:
      - "**/*"
    open-pull-requests-limit: 10
    schedule:
      interval: "weekly"
    groups:
      gomod:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directories:
      - "/"
    schedule:
      interval: "weekly"
    groups:
      docker:
        patterns:
          - "*"
