.idea/

# Local
.DS_Store
*.local
*.log*
playwright
playwright-report
test-results

# Dist
node_modules
dist/

# Ignore turborepo cache
.turbo

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# generated archives
*.tar.gz

# external CUE dependencies
/*/cue.mod/pkg/

# ignore shared package links
.plugins-shared-link-bk.json
.plugins-shared-link-lock-bk.json
